@font-face {
  font-family: "Olympic";
  src: url('./assets/olympic_carrier/olympiccarrierhalfital.ttf');
}

#root {
  text-align: center;
}

header{ 
  background-color: purple;
  height: 60px;

  h1 {
    font-family: 'Olympic';
    margin: auto;
    padding-top: 16.5px;
  }
}


#soundboard {
  width: 80%;
  height: auto;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:  #333333;
  

  button {
    margin-top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: orangered;
    color: white;
  }
}